@charset "UTF-8";
/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@import url(http://fonts.googleapis.com/css?family=Varela+Round);
* {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */ }

img {
  opacity: 0.38; }

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #303030;
  background-attachment: fixed;
  font-family: 'Varela Round', sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-transform: none;
  width: 100%;
  /*border-top:solid 20px black;*/ }

/* Portrait layout (default) */
.app {
  background: url(../img/logo.svg) no-repeat center top;
  /* 170px x 200px */
  position: absolute;
  /* position in the center of the screen */
  left: 50%;
  top: 50%;
  margin-left: -50%;
  margin-top: -25%;
  height: 50px;
  /* text area height */
  width: 100%;
  /* text area width */
  text-align: center;
  padding: 180px 0px 0px 0px;
  /* image height is 200px (bottom 20px are overlapped with text) */ }

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1 / 1) and (min-width: 400px) {
  .app {
    background-position: left center;
    padding: 75px 0px 75px 170px;
    /* padding-top + padding-bottom + text area = image height */
    margin: -90px 0px 0px -198px;
    /* offset vertical: half of image height */
    /* offset horizontal: half of image width and text area width */ } }
h1 {
  font-weight: normal;
  margin: 0px;
  overflow: visible;
  padding: 0px;
  text-align: center; }

.event {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #FFFFFF;
  margin: 0px 30px;
  padding: 2px 0px; }

.event.listening {
  background-color: #333333;
  display: block; }

.event.received {
  background-color: #4B946A;
  display: none; }

@keyframes fade {
  from {
    opacity: 1.0; }
  50% {
    opacity: 0.4; }
  to {
    opacity: 1.0; } }
@-webkit-keyframes fade {
  from {
    opacity: 1.0; }
  50% {
    opacity: 0.4; }
  to {
    opacity: 1.0; } }
.blink {
  animation: fade 3000ms infinite;
  -webkit-animation: fade 3000ms infinite; }

#header {
  position: fixed;
  float: top;
  background-color: #212121;
  width: 100%;
  height: 48px;
  z-index: 100;
  /* background:url(../img/logo.svg) no-repeat center center;
   background-size: 50%;*/ }

#headerlogo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/logo.svg) no-repeat center center;
  background-size: 50%;
  opacity: 0.8; }

#karma {
  display: none; }

#menubutton {
  display: inline-block;
  position: absolute;
  left: 2%;
  top: 10%;
  height: 32px;
  width: 32px; }

#closebutton {
  display: none;
  position: absolute;
  left: 89%;
  top: 10%;
  width: 32px;
  height: 32px;
  z-index: 100; }

#results {
  width: 100%;
  margin: 0px;
  padding-top: 55px;
  overflow-x: hidden; }

#compass {
  position: fixed;
  top: 0;
  padding-top: 20%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #303030;
  width: 100%;
  height: 95%;
  margin-left: -110%;
  z-index: 10;
  color: rgba(255, 255, 255, 0.8); }

.voteresults {
  width: 100%;
  margin-bottom: 2%; }

.votemeter {
  width: 80%;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  margin-bottom: 2%;
  margin-left: 10%;
  padding-right: 4px; }

.votemeter::before {
  position: absolute;
  content: "X";
  left: 0%;
  margin-left: 3%;
  margin-top: 1%;
  transform: scale(1.2);
  border-radius: 50%;
  background-color: #303030;
  padding: 4px 7px 4px 7px; }

.votemeteramount {
  color: #303030;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 2px;
  text-align: center; }

#profile {
  position: fixed;
  top: 0;
  padding-top: 20%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #303030;
  width: 100%;
  height: 95%;
  margin-left: -110%;
  z-index: 10;
  color: rgba(255, 255, 255, 0.8); }

.result, .openedResult {
  display: none;
  padding: 0px;
  margin: 0px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #424242;
  border-left: 5px solid #FF1744; }

.resultheader {
  margin: 0px 0 -10px 0;
  padding: 12px 0 12px 0;
  color: white;
  /*border-radius: 20px 20px 0 0;*/
  max-width: 100%; }
  .resultheader p {
    margin: 0px 10px; }

.resultbody {
  margin: 0;
  margin-bottom: -40px;
  padding: 12px 0 0 0;
  color: rgba(255, 255, 255, 0.8);
  /*border-radius: 0 0 20px 20px;*/
  max-width: 100%;
  overflow-x: hidden; }

.activatedresult .resultbody, .removeNow .resultbody, .openedResult .resultbody {
  overflow-y: scroll; }
.activatedresult .newstext, .removeNow .newstext, .openedResult .newstext {
  position: absolute;
  top: -555%;
  visibility: hidden; }

.resultbody p, .resultbody a {
  margin: 10px;
  padding-bottom: 10px;
  margin-top: -5px;
  color: rgba(255, 255, 255, 0.7); }

.resultbodytext {
  display: inline-block;
  vertical-align: top;
  width: 50%; }

.resultbuttons {
  display: inline-block;
  width: 38%;
  text-align: center;
  margin-left: 35px;
  margin-top: -15px;
  padding-bottom: 24px; }

.newsitem .resultbuttons {
  margin-top: 0;
  width: 80%; }
.newsitem .resultbutton {
  width: 60%; }

.newsitem.activatedresult .resultbuttons {
  margin-top: -15px;
  width: 38%; }
.newsitem.activatedresult .resultbutton {
  width: 100%; }

.buttontable {
  display: inline-block;
  width: 30%; }

.divisor {
  width: 10%;
  height: 5px;
  margin: 0px;
  background-color: #303030; }

.comdiv {
  width: 0%;
  margin: 0px;
  margin-top: 5px;
  border-bottom: 3px solid #303030; }

.commentdivisor {
  width: 100%;
  margin: 0px;
  border-bottom: 3px solid #303030; }

.Utrikesdepartementet::before {
  background: #009688; }

.Arbetsmarknadsdepartementet::before {
background: #FF3D00; }

.Näringsdepartementet::before {
background: #FFAB00; }

.Försvarsdepartementet::before {
background: #EEFF41; }

.Kulturdepartementet::before {
background: #7B1FA2; }

.Justitiedepartementet::before {
background: #607D8B; }

.Finansdepartementet::before, .None {
background: #76FF03; }

.Socialdepartementet::before {
background: #FF4081; }

.Miljö-::before {
background: #76FF03; }

.Utbildningsdepartementet::before {
background: #3F51B5; }

/*#doclink, #commentlink {

    position: relative;
    display: none;
    width: 43%;

    img {
        width: 48px;
        height: 48px;
        display: inline-block;
        }

    a,p {

        font-size: 14px;
        display: inline-block;
        vertical-align: top;
        padding-top: 20px;
    }
}*/
#activatedcomments {
  overflow-x: hidden; }

.activatedcommentz {
  padding-bottom: 30px; }

#postcomment {
  height: 100%;
  color: rgba(255, 255, 255, 0.38);
  font-family: 'Varela Round', sans-serif;
  transition: background-color 500ms;
  -webkit-transition: background-color 500ms; }

.tabletpostcomment {
  background-color: #171717; }

#commentfield {
  margin-top: 10%;
  font-family: 'Varela Round', sans-serif;
  width: 90%;
  margin-left: 5%;
  height: 50%;
  background-color: transparent;
  border-style: none;
  color: rgba(255, 255, 255, 0.9);
  resize: none; }

#postcommentbutton {
  background-color: transparent;
  height: 15%;
  width: 80%;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Varela Round', sans-serif;
  border-radius: 10px;
  border: 3px solid white;
  margin-left: 10%; }

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.9); }

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.9); }

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.9); }

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.9); }

.comment {
  color: rgba(255, 255, 255, 0.9);
  width: 100%;
  border-left: 5px solid #76FF03;
  padding: 10px;
  /*border-bottom: 5px solid #303030;*/ }
  .comment p {
    margin: 0;
    padding: 0; }

.commentbuttons {
  width: 30%;
  position: relative;
  right: -65%;
  margin-top: -15px; }
  .commentbuttons img {
    width: 42px; }
  .commentbuttons p {
    width: 42px;
    margin: 0;
    margin-top: -5px; }

.commentbuttontable {
  display: inline-block;
  width: 36px; }

.buttontext {
  text-align: center;
  vertical-align: top;
  color: rgba(255, 255, 255, 0.38); }

.load-bar {
  display: none;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999; }

.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center; }

.bar:nth-child(1) {
  background-color: rgba(255, 255, 255, 0.3);
  animation: loading 3s linear infinite; }

.bar:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.3);
  animation: loading 3s linear 1s infinite; }

@keyframes loading {
  from {
    left: 50%;
    width: 0;
    z-index: 100; }
  33.3333% {
    left: 0;
    width: 100%;
    z-index: 10; }
  to {
    left: 0;
    width: 100%; } }
.activatedresult {
  width: calc(100% - 15px); }

.reporttext {
  display: none;
  padding-top: 5px; }

.extendedreporttext {
  height: auto; }

.longreporttext::before {
  content: ""; }

.longreporttext::before {
  position: absolute;
  left: 93%;
  margin-top: 38px;
  content: " ";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(255, 255, 255, 0.8);
  animation: animationFrames ease-in-out 1s;
  animation-iteration-count: 5;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
  /*when the spec is finished*/
  -webkit-animation: animationFrames ease-in-out 1s;
  -webkit-animation-iteration-count: 5;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
  -moz-animation: animationFrames ease-in-out 1s;
  -moz-animation-iteration-count: 5;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode: forwards;
  /*FF 5+*/
  -o-animation: animationFrames ease-in-out 1s;
  -o-animation-iteration-count: 5;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode: forwards;
  /*Not implemented yet*/
  -ms-animation: animationFrames ease-in-out 1s;
  -ms-animation-iteration-count: 5;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode: forwards;
  /*IE 10+*/ }

@keyframes animationFrames {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes animationFrames {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes animationFrames {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes animationFrames {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes animationFrames {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.timeline {
  width: 100%;
  margin-left: 5%;
  display: none; }
  .timeline div {
    display: inline-block;
    width: 20%; }
  .timeline span {
    padding: 4px 8px 4px 8px;
    position: relative;
    top: 0;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.8);
    background-color: #424242;
    margin-left: 33px; }
  .timeline p {
    text-align: center;
    width: 100%;
    margin-top: 10px; }
  .timeline .active span {
    background-color: white;
    color: #424242; }

/*.timelineitem::after{
  position: relative;
  content: ">";
  top: -58px;
  left: 10px;
}*/
/*.first::after{
  content:".";
  color:rgba(0,0,0,0);
}*/
.docrefs {
  display: none;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 4%;
  padding-right: 4%;
  margin-left: 3%; }
  .docrefs a {
    text-decoration: none; }

.docref::before {
  position: absolute;
  content: "X";
  left: 0%;
  margin-left: 0;
  margin-top: -1%;
  border-radius: 50%;
  padding: 4px 7px 4px 7px; }

.KD::before {
  content: "KD";
  background-color: #933192;
  padding: 4px 3px 4px 3px; }

.M::before {
  content: "M";
  background-color: #299BDA;
  padding: 4px 5px 4px 5px; }

.SD::before {
  content: "SD";
  background-color: #5FC8F3;
  padding: 4px 3px 4px 3px; }

.L::before {
  content: "L";
  background-color: #116AB5;
  padding: 4px 8px 4px 8px; }

.FP::before {
  content: "FP";
  background-color: #319AD5;
  padding: 5px 4px 5px 4px; }

.V::before {
  content: "V";
  background-color: #FD0000; }

.S::before {
  content: "S";
  background-color: #EC1B34; }

.MP::before {
  content: "MP";
  background-color: #2B912C;
  padding: 5px 3px 4px 3px; }

.C::before {
  content: "C";
  background-color: #016A3A; }

.Arbetsmarknadsdepartementet::before {
  content: "AU";
  padding: 4px 3px 4px 3px; }

.AU {
  border-left-color: #CDDC39;
}

.CU {
  border-left-color: #009688;
}

.FiU {
  border-left-color: #FFC107;
}

.SoU {
  border-left-color: #F44336;
}

.FöU {
  border-left-color: #4b5320;
}

.JuU {
  border-left-color: #673AB7;
}

.KU {
  border-left-color: white;
}

.KrU {
  border-left-color: #9C27B0;
}

.Civilutskottet::before {
  content: "CU";
  padding: 4px 3px 4px 3px; }

.Finansdepartementet::before {
  content: "FiU";
  padding: 4px 1px 4px 1px; }

.Försvarsutskottet::before {
  content: "FöU";
  padding: 4px 1px 4px 1px; }

.Justitiedepartementet::before {
  content: "JuU";
  padding: 4px 1px 4px 1px; }

.Konstitutionsutskottet::before {
  content: "KU";
  padding: 4px 3px 4px 3px; }

.Kulturutskottet::before {
  content: "KrU";
  padding: 4px 1px 4px 1px; }

.Miljö- och Jordbruksutskottet::before {
  content: "MJU";
  padding: 4px 0px 4px 0px; }

.energidepartementet::before {
  content: "MeD";
  padding: 4px 0px 4px 0px; }

.Näringsutskottet::before {
  content: "NU";
  padding: 4px 3px 4px 3px; }

.Utbildningsdepartementet::before {
  content: "UD";
  padding: 4px 3px 4px 3px; }

.Skatteutskottet::before {
  content: "SkU";
  padding: 4px 1px 4px 1px; }

.Stasrådsberedningen::before {
  content: "SrB";
  padding: 4px 1px 4px 1px; }

.Socialförsäkringsutskottet::before {
  content: "SfU";
  padding: 4px 1px 4px 1px; }

.Socialdepartementet::before {
  content: "SoU";
  padding: 4px 1px 4px 1px; }

.Trafikutskottet::before {
  content: "TU";
  padding: 4px 3px 4px 3px; }

.Utbildningsutskottet::before {
  content: "UbU";
  padding: 4px 1px 4px 1px; }

.Utrikesdepartementet::before {
  content: "UU";
  padding: 4px 3px 4px 3px; }

.Trafikutskottet::before {
  content: "TU";
  padding: 4px 3px 4px 3px; }

.docref {
  border: none; }
  .docref p {
    margin-left: 7%;
    margin-top: -20px; }

.domain, .moment {
  opacity: 0.5; }

.newsthumb {
  opacity: 1;
  width: 100%; }

.activatedresultbuttons {
  display: none;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 5%; }
  .activatedresultbuttons p {
    margin-bottom: 0; }
  .activatedresultbuttons img {
    display: block;
    margin: auto; }

.activatedbuttontable {
  display: inline-block;
  width: 20%; }
  .activatedbuttontable img {
    max-width: 48px; }

.debatetext {
  display: none; }

.decision {
  display: none;
  padding-top: 5px; }

.extendeddecision {
  height: auto; }

.longdecision::before {
  content: ""; }

.longdecision::before {
  position: absolute;
  left: 93%;
  margin-top: 38px;
  content: " ";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(255, 255, 255, 0.8);
  animation: animationFrames ease-in-out 1s;
  animation-iteration-count: 5;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
  /*when the spec is finished*/
  -webkit-animation: animationFrames ease-in-out 1s;
  -webkit-animation-iteration-count: 5;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
  -moz-animation: animationFrames ease-in-out 1s;
  -moz-animation-iteration-count: 5;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode: forwards;
  /*FF 5+*/
  -o-animation: animationFrames ease-in-out 1s;
  -o-animation-iteration-count: 5;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode: forwards;
  /*Not implemented yet*/
  -ms-animation: animationFrames ease-in-out 1s;
  -ms-animation-iteration-count: 5;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode: forwards;
  /*IE 10+*/ }

#menu {
  position: fixed;
  float: top;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 999;
  padding-left: 15px;
  left: -55%; }

#menufiller {
  position: fixed;
  display: none;
  float: top;
  width: 100%;
  height: 100%;
  z-index: 998;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3); }

.menuitem {
  text-align: left;
  color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
  padding-bottom: 15px;
  margin-right: 15px; }

.menuicon {
  max-width: 36px;
  opacity: 0.9;
  vertical-align: middle; }

#menuclosebutton {
  position: absolute;
  top: 0;
  margin-top: 2%;
  right: 2%;
  max-width: 24px; }

.docrefs {
  width: 90%;
  position: relative; }

.extendeddocrefs {
  height: 30%;
  overflow-y: scroll; }

.longdocrefs::before {
  content: ""; }

.longdocrefs::before {
  position: absolute;
  left: 83%;
  margin-top: 40px;
  content: " ";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(255, 255, 255, 0.8);
  animation: animationFrames ease-in-out 1s;
  animation-iteration-count: 5;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
  /*when the spec is finished*/
  -webkit-animation: animationFrames ease-in-out 1s;
  -webkit-animation-iteration-count: 5;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
  -moz-animation: animationFrames ease-in-out 1s;
  -moz-animation-iteration-count: 5;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode: forwards;
  /*FF 5+*/
  -o-animation: animationFrames ease-in-out 1s;
  -o-animation-iteration-count: 5;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode: forwards;
  /*Not implemented yet*/
  -ms-animation: animationFrames ease-in-out 1s;
  -ms-animation-iteration-count: 5;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode: forwards;
  /*IE 10+*/ }

.videodome {
  border: 3px solid rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  margin-left: 2%; }

.expander {
  display: none;
  margin-left: 10%; }
  .expander img {
    display: inline-block;
    max-width: 22px;
    opacity: 0.8;
    padding: 2px; }
  .expander p {
    display: inline-block;
    line-height: 22px;
    vertical-align: middle;
    padding: 0; }

.startpagenews {
  background-color: rgba(0, 0, 0, 0.5); }
  .startpagenews .newsthumb {
    width: 20%;
    border: none;
    border-radius: 1px;
    margin-left: 1%;
    margin-top: 1%;
    vertical-align: top; }
  .startpagenews .result {
    background-color: transparent;
    border: none;
    padding-top: 2%;
    padding-bottom: 8%; }
  .startpagenews .resultbody {
    display: none; }
  .startpagenews .resultheader {
    width: 79%;
    margin-left: 0;
    display: inline-block;
    margin-top: 0;
    vertical-align: top;
    padding: 0; }
  .startpagenews .divisor {
    width: 80%;
    height: 1px;
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: 25%; }

.newstext {
  margin-left: 4%;
  margin-top: 1%;
  color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* number of lines to show */ }

.startpagedecisions {
  background-color: rgba(0, 0, 0, 0.5); }
  .startpagedecisions .newsthumb {
    width: 20%;
    border: none;
    border-radius: 1px;
    margin-left: 1%;
    margin-top: 1%;
    vertical-align: top; }
  .startpagedecisions .result {
    background-color: transparent;
    padding-top: 2%;
    padding-bottom: 8%;
    margin-left: 0; }
  .startpagedecisions .resultbuttons {
    display: none; }
  .startpagedecisions .resultbody {
    display: none; }
  .startpagedecisions .resultheader {
    width: 100%;
    margin-left: 0;
    display: inline-block;
    margin-top: 0;
    vertical-align: top;
    padding: 0; }
  .startpagedecisions .divisor {
    width: 100%;
    height: 2px;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 0; }
  .startpagedecisions .newstext {
    margin-left: 0; }

.startpagetitle {
  margin-left: 2%;
  margin-bottom: 1%;
  font-family: sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7); }

.noresultsfound {
  font-family: 'Varela Round', sans-serif;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  padding-left: 5%;
  padding-right: 5%;
  color: rgba(255, 255, 255, 0.8); }

.preview {
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 2%;
  padding-bottom: 8%;
  margin-left: 0;
  border-left: none; }
  .preview .resultheader {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    vertical-align: top;
    padding: 0;
    padding-bottom: 10px;
    opacity: 0.5; }
  .preview .resultbodytext {
    opacity: 0.5; }

.smallerdivi {
  height: 1px; }

.zigzag {
  -webkit-mask-image: linear-gradient(0deg, transparent 30px, white 30px), linear-gradient(-135deg, white 15px, transparent 15px), linear-gradient(135deg, white 15px, transparent 15px);
  -webkit-mask-position: left bottom;
  -webkit-mask-repeat: repeat-x;
  -webkit-mask-size: 100% 100%, 30px 30px, 30px 30px; }

.animated {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translate3d(0px, 0px, 0px); }

.visible {
  display: inline-block; }

.topmargin {
  margin-top: 25px; }

.fullheight {
  height: 100%; }

.fullwidth {
  width: 100%; }

.maxwidth48 {
  max-width: 48px; }

.openedResult {
  height: 100vh;
  position: absolute;
  top: 24px;
  left: 2px; }

.fatborderbottom {
  box-shadow: inset 0px -100px 0px 0px #171717; }

@media screen and (min-width: 768px) {
  #headerlogo {
    width: 25vw;
    margin-left: 37.5vw;
    max-height: 48px;
    background-size: contain; }

  #closebutton {
    left: 94vw; }

  .newsitem .resultbuttons {
    width: 90%; }
    .newsitem .resultbuttons .resultbutton {
      width: 30%; }

  .startpagetitle {
    font-size: 2vw; }

  .resultheader {
    font-size: 2vw; }

  .startpagenews {
    padding-bottom: 2%; }

  #menu {
    width: 30%; }

  .activatedresult {
    box-shadow: -5px 0px 20px 0px rgba(0, 0, 0, 0.75); }

  .activatedresult, .removeNow {
    width: 50%;
    margin-left: 50%;
    transition: box-shadow 1s, margin-left 1s; }
    .activatedresult .newsthumb, .removeNow .newsthumb {
      width: 100%; }

  body {
    font-size: 1.8vw; }

  h1 {
    font-size: 2.6vw; }

  .votemeteramount {
    font-size: 2.6vw; }

  .resultheader {
    font-size: 2.2vw; }

  .resultbodytext {
    font-size: 1.6vw; }

  #postcomment {
    font-size: 2.2vw; }

  #commentfield {
    font-size: 2.2vw; }

  #postcommentbutton {
    font-size: 2vw; }

  .comment {
    font-size: 1.6vw; }

  .timeline span {
    font-size: 1.6vw; }

  .domain, .moment {
    font-size: 1.6vw; }

  .menuitem {
    font-size: 1.6vw; }

  .expander p {
    font-size: 1.6vw; }

  .resultheader {
    font-size: 1.8vw; }

  .newstext {
    font-size: 1.6vw; }

  .startpagetitle {
    font-size: 1.8vw; }

  .noresultsfound {
    font-size: 2.1vw; }

  .resultbodytext {
    font-size: 1.3vw; }

  .resultbuttons {
    width: 20vw;
    margin-left: 20vw; } }
@media screen and (max-width: 767px) {
  body {
    font-size: 12px; }

  h1 {
    font-size: 24px; }

  .votemeteramount {
    font-size: 24px; }

  .resultheader {
    font-size: 14px; }

  .resultbodytext {
    font-size: 12px; }

  #postcomment {
    font-size: 18px; }

  #commentfield {
    font-size: 18px; }

  #postcommentbutton {
    font-size: 16px; }

  .comment {
    font-size: 12px; }

  .timeline span {
    font-size: 12px; }

  .domain, .moment {
    font-size: 10px; }

  .menuitem {
    font-size: 12px; }

  expander p {
    font-size: 12px; }

  .newstext {
    font-size: 10px; }

  .resultheader {
    font-size: 11px; }

  .startpagetitle {
    font-size: 10px; }

  .noresultsfound {
    font-size: 15px; }

  .resultbodytext {
    font-size: 9px; } }
.nomargin {
  margin-left: 0; }

/*# sourceMappingURL=index.css.map */
